version: "3.9"

services:
  hf-bench:
    build: .
    image: hf-bench-sse:gpu
    container_name: hf-bench
    runtime: nvidia
    ports:
      - "8000:8000"
    environment:
      HF_DEVICE: cuda
      HF_DTYPE: float16

      REQUIRE_REVISION: "1"
      MAX_REPO_SIZE_GB: "30"
      ALLOW_SAFETENSORS_ONLY: "1"

      HF_HOME: /models
      TRANSFORMERS_CACHE: /models
      MODEL_STORE_DIR: /models_store
    volumes:
      - /mnt/nvme/hf_cache:/models
      - /mnt/nvme/models_store:/models_store
    restart: unless-stopped
